<!DOCTYPE html>
<html>

<head>
    <title>Pentest Target Home</title>
</head>

<body>
    <h1>Pentest Lab - Choose Your Entry Point</h1>

    <h2>WEB:</h2>

    <p><strong>Credentials:</strong> <code>admin / easypassword</code></p>
    <p><strong>OTP Seed:</strong> <code>XVQ2UIGO75XRUKJO</code></p>
    <p><strong>Header:</strong> <code>secret-header: my-secret-header</code></p>
    <p><strong>Cookie:</strong> <code>secret-cookie: my-secret-cookie</code></p>

    <h3>Web Authentication Forms:</h3>
    <ul>
        <li><a href="/web/login">1. Login (User + Pass) - (SQLi Bypass)</a></li>
        <li><a href="/web/login-2fa">2. Login + 2FA (User + Pass + OTP)</a></li>
        <li><a href="/web/logout">Logout</a></li>
    </ul>

    <h3>Required objects pages:</h3>
    <ul>
        <li><a href="/web/welcome-basic-auth">Requires Basic Auth</a></li>
        <li><a href="/web/welcome-simple">Requires Session var - 'logged_in': true</a></li>
        <li><a href="/web/welcome-2fa">Requires Session var - '2fa_logged_in': true</a></li>
        <li><a href="/web/welcome-header">Requires Header - 'secret-header': 'my-secret-header'</a></li>
        <li><a href="/web/welcome-cookie">Requires Cookie - 'secret-cookie'='my-secret-cookie'</a></li>
    </ul>

    <h3>Original Vulnerable Tools:</h3>
    <ul>
        <li><a href="/web/users">User Search (SQL Injection)</a></li>
        <li><a href="/web/ping">Ping Tool (Command Injection)</a></li>
    </ul>

    <hr>

    <h2>API:</h2>
    <ul>
        <li><a href="/api/echo?p1=test">1. All HTTP Methods. Echo JSON with: headers, query paramenters and body</a></li>
        <li><a href="/api/otp?seed=XVQ2UIGO75XRUKJO">1. GET|POST /api/otp?seed=XVQ2UIGO75XRUKJO - returns JSON [OTP code, time_remaining, b32_seed]</a></li>
    </ul>
</body>

</html>